{% if items %}
<div class="event-calendar-monthly-feature">
  <h2 class="monthly-feature-title">{{ "Guide To Resources" | t }}</h2>
  <div class="monthly-feature-content">
    {% for item in items %}
      {{ item }}
    {% endfor %}
  </div>
</div>
{% endif %}
