<div class="event-calendar-filter">
  <div>
    <a class="event-calendar-toggle-button">{{ "Calendar" | t }}</a>
  </div>
  <div class="event-calendar-filter-container">
    <div class="event-calendar-filter-wrapper">
      <div class="event-calendar-filter-calendar" id="calendar">
        {{ calendarContent }}
      </div>
    </div>
  </div>
</div>
